.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 1366px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(3, 10, 26, 1);
}

.footer-nav__logo-link {
  display: block;
  margin: 0;
  padding: 5px 10px;
  color: rgba(255, 255, 255, 1);
  font-family: "AlumniSans-Regular", "Arial", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1.26px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  margin-left: 107px;
  mask-image: url("/img/stack.svg#sprite_SUPERGYM-footer-desk");
  width: 109px;
  height: 24px;
  mask-repeat: no-repeat;
  mask-size: 102px 22px;
  background-color: rgba(255, 255, 255, 1);


  &:hover {
    outline: none;
    border: none;
    opacity: 0.75;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  &:active {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  &:disabled {
    outline: none;
    border: none;
    opacity: 0.5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  margin: 0;
  padding: 0;
  margin-left: 241px;
  margin-right: auto;
  list-style-type: none;
}

.footer-nav__item {
  display: block;
  margin: 0;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }
}

.footer-nav__link {
  display: block;
  text-align: center;
  font-family: "AlumniSans-Regular", "Arial", sans-serif;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  letter-spacing: 1.05px;

  &:hover {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
  }

  &:active {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
  }

  &:disabled {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0);
    opacity: 0.4;
  }
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 103px;
  padding: 0;
  list-style-type: none;
}

.footer-social__item {
  display: block;
  margin: 0;
  padding: 0;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.footer-social__link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;

  &:hover {
    border: none;
    outline: none;
    background-color: rgba(16, 58, 174, 1);
  }

  &:focus {
    border: none;
    outline: none;
    background-color: rgba(16, 58, 174, 1);
  }

  &:active {
    border: none;
    outline: none;
    background-color: rgba(16, 38, 84, 1);
  }

  &:disabled {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.link-vk__icon {
  display: block;
  margin: 0 auto;
  mask-image: url("/img/stack.svg#sprite_vk");
  width: 15px;
  height: 15px;
  mask-repeat: no-repeat;
  mask-size: 15px 15px;
  background-color: rgba(3, 10, 26, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    background-color: rgba(3, 10, 26, 1);
  }
}

.link-ok__icon {
  display: block;
  margin: 0 auto;
  mask-image: url("/img/stack.svg#sprite_ok");
  width: 10px;
  height: 17px;
  mask-repeat: no-repeat;
  mask-size: 10px 17px;
  background-color: rgba(3, 10, 26, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    background-color: rgba(3, 10, 26, 1);
  }
}

.link-reddit__icon {
  display: block;
  margin: 0 auto;
  mask-image: url("/img/stack.svg#sprite_reddit");
  width: 15px;
  height: 15px;
  mask-repeat: no-repeat;
  mask-size: 15px 15px;
  background-color: rgba(3, 10, 26, 1);

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 1);
  }

  &:disabled {
    background-color: rgba(3, 10, 26, 1);
  }
}

@include vp-1365 {
  .footer-wrapper {
    width: 768px;
    padding: 41px 0 40px 0;
  }

  .footer-nav__logo-link {
    display: block;
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 34px;
    mask-image: url("/img/stack.svg#sprite_SUPERGYM-footer-tablet");
    width: 100px;
    height: 22px;
    mask-repeat: no-repeat;
    mask-size: 100px 22px;
    background-color: rgba(255, 255, 255, 1);
  }

  .footer-nav__list {
    width: 414px;
    margin-left: 43px;
  }

  .footer-nav__item {
    margin-right: 0;
  }

  .footer-nav__link {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 12px;
    line-height: 22px;
  }

  .footer-social__list {
    margin-right: 45px;
  }
}

@include vp-767 {
  .footer-wrapper {
    width: 320px;
    padding-top: 22px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
  }

  .footer-nav__logo-link {
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-left: 5px;
    letter-spacing: 0;
    mask-image: url("/img/stack.svg#sprite_SUPERGYM-footer-mobile");
    width: 100px;
    height: 15px;
    mask-repeat: no-repeat;
    mask-size: 100px 15px;
    background-color: rgba(255, 255, 255, 1);
  }

  .footer-nav__list {
    width: 290px;
    justify-content: start;
    margin: 16px 0 0 4px;
  }

  .footer-nav__item {
    margin-right: 14px;
    margin-bottom: 6px;
  }

  .footer-nav__link {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
  }

  .footer-social__list {
    margin: 0 auto;
    margin-top: 41px;
  }
}
