.free {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  margin: 0;
  padding: 60px 170px 60px 103px;
  background-color: rgba(16, 38, 84, 1);
  color: rgba(255, 255, 255, 1);
}

.free-title {
  display: block;
  width: 410px;
  margin: 0;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
}

.free-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 410px;
  margin: 0;
  padding: 0;
}

.free-form__button {
  display: block;
  margin: 0;
  margin-top: 38px;
  width: 410px;
  padding: 27px 56px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(16, 38, 84, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
}

.form-area__name {
  margin-right: 30px;
}

.form-area__field {
  display: block;
  width: 190px;
  margin-top: 33px;
  padding: 4px 2px;
  background-color: rgba(16, 38, 84, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    outline: none;
  }

  &:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;
  }

  &:active {
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;
  }

  &:disabled {
    border: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;

    ::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &:invalid {
    border-bottom: 1px solid rgba(255, 18, 31, 1);
  }

  ::placeholder {
    color: rgba(255, 255, 255, 1);
  }
}

.form-area__field--error {
  color: rgba(255, 18, 31, 1);
  display: none;
}
