.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 120px;
  color: rgba(255, 255, 255, 1);
  width: 1160px;
}

.games-wrapper {
  background-color: rgba(237, 2, 51, 1);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 0;
  margin: 0 auto;
  width: 500px;
}

.games-title {
  display: block;
  width: 180px;
  grid-column-start: 1;
  margin-left: 80px;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
}

.games-description {
  display: block;
  width: 277px;
  margin-left: 80px;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column-start: 2;
  grid-row-start: 1;
}

.games-item {
  display: block;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  margin-right: 80px;

  &:first-of-type {
    margin-top: 80px;
  }

  &:nth-of-type(2) {
    margin-top: 24px;
  }

  &__title {
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }

  &__number {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: row;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    width: 37px;
    margin: 0;
    margin-top: 6px;
    padding: 0;
    padding-top: 7px;
    border-top: 1px solid rgba(255, 255, 255, 1);

    &:nth-of-type(1) {
      width: 64px;
    }

    &:nth-of-type(2) {
      width: 92px; //неправильно
    }
  }

  &__date {
    display: block;
    width: 37px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-left: 5px;
  }
}

.games-button {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  width: 340px;
  margin: 0;
  margin-left: 80px;
  margin-bottom: 80px;
  padding: 27px 56px;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 3;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@include vp-1365 {
  .games {
    margin: 0 auto;
    margin-top: 100px;
    width: 768px;
    flex-direction: row;
    justify-content: center;
  }

  .games-wrapper {
    width: 367px;
    margin: 0;
    padding: 40px 45px 45px 45px;
  }

  .games-title  {
    padding: 0;
    margin: 0;
    width: 106px;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }

  .games-list {
    padding: 0;
    margin: 0;
    width: 56px;
  }

  .games-image {
    display: block;
    width: 401px;
  }

  .games-description {
    width: 202px;
    margin-left: 0;
    margin-top: 6px;
    margin-bottom: 21px;
  }

  .games-item {
    margin-right: 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:nth-of-type(2) {
      margin-top: 10px;
    }
  }

  .games-item__number {
    font-size: 24px;
    line-height: 24px;
    margin-top: 0;
    padding: 2px;
  }

  .games-item__date {
    font-size: 10px;
    line-height: 10px;
    margin-top: 0;
    padding: 2px;
  }

  .games-button {
    width: 224px;
    margin: 0;
    padding: 22px 52px;
  }
}

@include vp-767 {
  .games {
    width: 320px;
    margin-top: 70px;
  }

  .games-wrapper {
    width: 290px;
    margin: 0 auto;
    padding: 40px;
  }

  .games-image {
    width: 290px;
  }

  .games-button {
    width: 210px;
    padding: 22px 45px;
  }

  .games-description  {
    width: 173px;
    font-size: 16px;
    line-height: 20px;
  }
}
