.gym {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  flex-direction: row;
  color: rgba(16, 38, 84, 1);
}

.gym-wrapper__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 335px;
  flex-direction: column;
  margin-top: 120px;
  margin-right: 145px;
}

.gym-wrapper__media {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 660px;
  flex-direction: column;
  margin-top: 120px;
}

.gym-title {
  display: block;
  width: 335px;
  margin: 0;
  padding: 0;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
}

.gym-subtitle {
  display: block;
  width: 350px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
}

.gym-description {
  display: block;
  width: 356px;
  margin: 0;
  padding: 0;
  margin-top: 95px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  &:nth-of-type(3) {
    margin-top: 0;
  }
}

.gym-image {
  display: block;
  width: 660px;
  margin-bottom: 240px;
}

.gym-video {
  position: absolute;
  content: "";
  display: block;
  top: 288px;
  left: -77px;
}

.gym-video__play {
  position: relative;
  content: "";
  cursor: pointer;
  display: block;
  width: 98px;
  height: 98px;
  background-color: transparent;
  border: 2px solid rgba(237, 2, 51, 1);
  border-radius: 50%;
  z-index: 5;
  top: -38%;
  left: 7%;

  &::before {
    position: relative;
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    background-image: linear-gradient(97deg, rgba(237, 2, 51, 1) 17.6%, rgba(0, 62, 183, 1) 95.31%);
    border-radius: 50%;
    z-index: 5;
    margin-top: 12px;
    margin-left: 12px;
  }

  &::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.5px 0 8.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    z-index: 6;
    top: -45px;
    left: 42px;
  }

  &:hover {
    border: 2px solid rgba(16, 38, 84, 1);
    outline: none;

    &::before {
      background-image: none;
      background-color: rgba(255, 255, 255, 1);
    }

    &::after {
      border-color: transparent transparent transparent rgba(16, 38, 84, 1);
    }
  }

  &:focus {
    outline: none;
    border: 2px solid rgba(16, 38, 84, 1);

    &::before {
      background-image: none;
      background-color: rgba(255, 255, 255, 1);
    }

    &::after {
      border-color: transparent transparent transparent rgba(16, 38, 84, 1);
    }
  }

  &:active {
    outline: none;
    border: 2px solid rgba(16, 38, 84, 1);

    &::before {
      background-image: none;
      background-color: rgba(255, 255, 255, 1);
    }

    &::after {
      border-color: transparent transparent transparent rgba(16, 38, 84, 1);
    }
  }

  &:disabled {
    outline: none;
    border: 2px solid rgba(16, 38, 84, 0.5);

    &::before {
      background-image: none;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &::after {
      border-color: transparent transparent transparent rgba(16, 38, 84, 0.5);
    }
  }
}

@include vp-1365 {
  .gym {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 183px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gym-wrapper__description {
    width: 768px;
    margin: 0 auto;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gym-title {
    margin: 0 auto;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  .gym-subtitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
  }

  .gym-description {
    width: 502px;
    margin-top: 36px;

    &:nth-of-type(3) {
      display: none;
    }
  }

  .gym-wrapper__media {
    width: 768px;
    margin: 0 auto;
    margin-top: 36px;
  }

  .gym-image {
    display: block;
    margin: 0 auto;
  }

  .gym-video {
    top: 261px;
    left: 206px;
  }

  .gym-video__play {
    top: -38%;
    left: 43%;

    &::after {
      top: -45px;
      left: 4px;
    }
  }
}

@include vp-767 {
  .gym {
    width: 320px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
