.subscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
  width: 1360px;
  color: rgba(16, 38, 84, 1);
  background-color: rgba(248, 249, 252, 1);
  padding-bottom: 120px;
  background-image: url("/img/weight-plates.png");
  background-size: 321px 532px;
  background-position: 100% 36%;
  background-repeat: no-repeat;
}

.subscription-title {
  display: block;
  margin: 0 auto;
  width: 335px;
  padding: 0;
  margin-top: 120px;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
}

.subscription-filter__radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1160px;
  padding: 0;
  border: none;
}

.subscription-filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1160px;
  padding: 0;
  margin-top: 38px;
  list-style-type: none;
}

.subscription-filter__label {
  display: block;
  width: 96px;
  padding: 0;
  margin: 0;
  padding-bottom: 14px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  &:hover {
    outline: none;
    border: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &:focus {
    outline: none;
    border: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &:active {
    outline: none;
    border: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &--active {
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(16, 38, 84, 0.3);
  }
}

.subscription-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1160px;
  padding: 0;
  margin-top: 37px;
  list-style-type: none;
}

.subscription-card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 77px 65px;
  width: 335px;
  background-color: rgba(255, 255, 255, 1);

  &--active {
    padding: 70px 58px;
    border: 7px solid;
    border-image: linear-gradient(97deg, rgba(237, 2, 51, 1) 17.6%, rgba(0, 62, 183, 1) 95.31%);
    border-image-slice: 1;

    .subscription-card__button {
      border: 1px solid rgba(16, 38, 84, 0);

      &:hover {
        color: rgba(16, 58, 174, 1);
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        outline: none;
        border: 1px solid rgba(16, 38, 84, 1);
      }

      &:focus {
        color: rgba(16, 58, 174, 1);
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        outline: none;
        border: 1px solid rgba(16, 38, 84, 1);
      }

      &:active {
        color: rgba(16, 38, 84, 1);
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        outline: none;
        border: 1px solid rgba(16, 38, 84, 0);
      }

      &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }

  &:first-of-type {
    background-image: url("/img/5000.png");
    background-size: 203px 80px;
    background-position: 50% 43%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(2) {
    background-image: url("/img/1700.png");
    background-size: 203px 80px;
    background-position: 50% 43%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(3) {
    background-image: url("/img/2700.png");
    background-size: 203px 80px;
    background-position: 50% 43%;
    background-repeat: no-repeat;
  }
}

.subscription-card__title {
  display: block;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}

.subscription-card__description {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  padding-top: 11px;
}

.subscription-card__price {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  color: rgba(16, 58, 174, 1);
  margin: 0 auto;
  padding-top: 66px;

  span {
    color: rgba(16, 38, 84, 1);
  }
}

.subscription-card__button {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  width: 208px;
  padding: 27px 44px;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
  }

  &:focus {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@include vp-1365 {
  .subscription {
    margin: 0 auto;
    flex-direction: column;
    width: 768px;
    padding-bottom: 100px;
    background-image: url("/img/weight-plates-tablet.png");
    background-size: 323px 407px;
    background-position: 100% 36%;
    background-repeat: no-repeat;
  }

  .subscription-title {
    padding-top: 100px;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  .subscription-filter__radio {
    flex-direction: column;
    margin: 0 auto;
    width: 768px;
    padding: 0;
    border: none;
  }

  .subscription-filter__list {
    flex-direction: row;
    margin: 0 auto;
    width: 768px;
    padding: 0;
    margin-top: 38px;
  }

  .subscription-card__list {
    flex-direction: column;
    margin: 0 auto;
    width: 768px;
    padding: 0;
    margin-top: 45px;
  }

  .subscription-card__item {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 65px 117px;
    width: 440px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &--active {
      padding: 110px 58px;
    }

    &:first-of-type {
      background-position: 50% 48%;
    }

    &:nth-of-type(2) {
      background-position: 50% 48%;
    }

    &:nth-of-type(3) {
      background-position: 50% 48%;
    }
  }

  .subscription-card__description {
    padding-top: 18px;
  }

  .subscription-card__price {
    padding-top: 72px;
  }

  .subscription-card__button {
    margin-top: 24px;
    padding: 22px 44px;
  }
}
