.subscription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: column;
  width: 1360px;
  color: rgba(16, 38, 84, 1);
  background-color: rgba(248, 249, 252, 1);
  padding-bottom: 153px;
  background-image: url("/img/weight-plates.png");
  background-size: 321px 532px;
  background-position: 100% 36%;
  background-repeat: no-repeat;
}

.subscription-title {
  display: block;
  margin: 0 auto;
  width: 335px;
  padding: 0;
  margin-top: 124px;
  font-family: "AlumniSans-SemiBold", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  text-align: center;
}

.subscription-filter__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1160px;
  padding: 0;
  margin-top: 34px;
  list-style-type: none;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 348px;
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
    top: 31px;
    left: 407px;
  }
}


.subscription-filter__link {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 12px;

  &:first-of-type {
    margin-right: 26px;
  }

  &:last-of-type {
    margin-left: 24px;
  }

  &:hover {
    outline: none;
    border: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &:focus {
    outline: none;
    border: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &:active {
    outline: none;
    border: none;
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &--active {
    color: rgba(16, 38, 84, 1);
    border-bottom: 2px solid rgba(209, 10, 66, 1);
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(16, 38, 84, 0.3);
  }
}

.subscription-card__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1160px;
}

.subscription-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1160px;
  padding: 0;
  margin-top: 37px;
  list-style-type: none;
}

.subscription-card__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 67px 65px;
  width: 335px;
  background-color: rgba(255, 255, 255, 1);

  &--active {
    padding: 60px 72px;
    border: 7px solid;
    border-image: linear-gradient(97deg, rgba(237, 2, 51, 1) 17.6%, rgba(0, 62, 183, 1) 95.31%);
    border-image-slice: 1;

    .subscription-card__title {
      margin-left: 40px;
    }

    .subscription-card__description {
      margin-left: 40px;
    }

    .subscription-card__button {
      border: 1px solid rgba(16, 38, 84, 0);
      border-left: 1px solid rgba(237, 2, 51, 1);
      border-right: 1px solid rgba(0, 62, 183, 1);

      &:hover {
        color: rgba(16, 58, 174, 1);
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        outline: none;
        border: 1px solid rgba(16, 38, 84, 1);
      }

      &:focus {
        color: rgba(16, 58, 174, 1);
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        outline: none;
        border: 1px solid rgba(16, 38, 84, 1);
      }

      &:active {
        color: rgba(16, 38, 84, 1);
        background-color: rgba(255, 255, 255, 1);
        background-image: none;
        outline: none;
        border: 1px solid rgba(16, 38, 84, 0);
      }

      &:disabled {
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }

  &:first-of-type {
    background-image: url("/img/5000.png");
    background-size: 197px 81px;
    background-position: 37% 47%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(2) {
    background-image: url("/img/1700.png");
    background-size: 203px 80px;
    background-position: 50% 47%;
    background-repeat: no-repeat;
  }

  &:nth-of-type(3) {
    background-image: url("/img/2700.png");
    background-size: 203px 80px;
    background-position: 50% 47%;
    background-repeat: no-repeat;

    .subscription-card__title {
      margin-left: 41px;
    }

    .subscription-card__description {
      margin-left: 68px;
    }

    .subscription-card__price {
      margin-left: 31px;
    }

    .subscription-card__button {
      margin-left: 13px;
    }
  }
}

.subscription-card__title {
  display: block;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  margin-left: 26px;
  padding: 0;
  text-align: center;
}

.subscription-card__description {
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 auto;
  margin-left: 52px;
  padding-top: 6px;
}

.subscription-card__price {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  color: rgba(16, 58, 174, 1);
  margin: 0 auto;
  margin-left: 5px;
  padding-top: 69px;

  span {
    color: rgba(16, 38, 84, 1);
  }
}

.subscription-card__button {
  display: block;
  margin: 0 auto;
  margin-top: 33px;
  margin-left: -14px;
  width: 208px;
  padding: 26px 44px;

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:focus {
    color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(0.25turn, rgba(237, 2, 51, 1),  rgba(0, 62, 183, 1));
    outline: none;
    border: 1px solid rgba(16, 38, 84, 0);
    border-left: 1px solid rgba(237, 2, 51, 1);
    border-right: 1px solid rgba(0, 62, 183, 1);
  }

  &:disabled {
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

@include vp-1365 {
  .subscription {
    margin: 0 auto;
    flex-direction: column;
    width: 768px;
    padding-bottom: 100px;
    background-image: url("/img/weight-plates-tablet.png");
    background-size: 323px 407px;
    background-position: 100% 36%;
    background-repeat: no-repeat;
  }

  .subscription-title {
    padding-top: 98px;
    margin: 0 auto;
    font-size: 42px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  .subscription-filter__list {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 332px;
    padding: 0;
    margin-top: 36px;

    &::before {
      width: 332px;
      left: 0;
    }
  }

  .subscription-filter__link {
    font-size: 18px;
    padding-bottom: 10px;

    &:nth-of-type(1) {
      margin: 0;
    }
  }

  .subscription-card__wrapper {
    width: 768px;
  }

  .subscription-card__list {
    flex-direction: column;
    margin: 0 auto;
    width: 768px;
    padding: 0;
    margin-top: 45px;
  }

  .subscription-card__item {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 65px 117px;
    width: 440px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &--active {
      padding: 59px 58px;

      .subscription-card__title {
        font-size: 24px;
        margin-left: 110px;
        margin-top: 0;
      }

      .subscription-card__description {
        margin-left: 104px;
      }

      .subscription-card__price {
        margin-left: 71px;
      }

      .subscription-card__button {
        margin-left: 51px;
      }
    }

    &:first-of-type {
      background-position: 50% 50%;
    }

    &:nth-of-type(2) {
      background-position: 50% 50%;
    }

    &:nth-of-type(3) {
      background-position: 50% 50%;

      .subscription-card__title {
        margin-left: 36px;
      }

      .subscription-card__description {
        padding-top: 14px;
        margin-left: 53px;
      }

      .subscription-card__price {
        margin-left: 21px;
      }

      .subscription-card__button {
        margin-left: -2px;
        }
      }
    }
  }

  .subscription-card__title {
    font-size: 24px;
    margin-left: 44px;
  }

  .subscription-card__description {
    padding-top: 13px;
    margin-left: 66px;
  }

  .subscription-card__price {
    padding-top: 74px;
    margin-left: 19px;
  }

  .subscription-card__button {
    margin-top: 23px;
    padding: 21px 44px;
    margin-left: -2px;
  }
}

@include vp-767 {
  .subscription {
    margin: 0 auto;
    flex-direction: column;
    width: 320px;
    padding-bottom: 70px;
    background-image: none;
  }

  .subscription-title {
    padding-top: 70px;
    width: 320px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }

  .subscription-filter__radio {
    width: 320px;
  }

  .subscription-filter__list {
    width: 320px;
    margin-top: 24px;
  }

  .subscription-filter__control {
    width: 320px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .subscription-card__list {
    width: 320px;
    margin-top: 35px;
  }

  .subscription-card__item {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 50px 42px;
    width: 290px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &--active {
      padding: 43px 35px;
    }

    &:first-of-type {
      background-size: 162px 60px;
      background-position: 50% 48%;
    }

    &:nth-of-type(2) {
      background-size: 162px 60px;
      background-position: 50% 48%;
    }

    &:nth-of-type(3) {
      background-size: 162px 60px;
      background-position: 50% 48%;
    }
  }

  .subscription-card__title {
    width: 107px;
    font-size: 22px;
    line-height: 22px;
  }

  .subscription-card__description {
    width: 107px;
    padding-top: 18px;
    font-size: 14px;
    line-height: 22px;
  }

  .subscription-card__price {
    width: 170px;
    padding-top: 62px;
    font-size: 48px;
    line-height: 72px;
  }

  .subscription-card__button {
    width: 205px;
    margin-top: 18px;
    padding: 22px 42px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;
  }
}
