@font-face {
  font-family: "AlumniSans-Thin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AlumniSans-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "AlumniSans-Thin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AlumniSans-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Condensed-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Condensed-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Condensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "rouble";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rouble.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rouble";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rouble.woff") format("woff");
  font-display: swap;
}
